[user]
	email = ginoclement@gmail.com
	name = Gino Clement
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	dark = true
[push]
	autoSetupRemote = true
[pull]
	ff = only
[fetch]
	prune = true
[merge]
	conflictStyle = zdiff3
[diff]
	colorMoved = default
[alias]
	lg = log --graph --decorate --all --oneline
